.wrapper {
    position: relative;
    z-index: 2;
    width: clamp(320px, 100%, 600px);
    aspect-ratio: 1000 / 1726;

    text-align: center;
    text-transform: uppercase;
}

.backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: clamp(320px, 100%, 600px);
}

.contentWrapper {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding-bottom: 4em;

    /* border: red dotted 2px; */
}

.logoImage {
    width: 50%;
}

.contentImage {
    width: 80%;
    margin-top: -2%;
}

.h2Style {
    font-weight: 400;
    font-size: 7vw;
    margin: 0;
}

.miniWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    width: 70%;
    margin: 0.25em 0;
    border-color: #A27F14;
    border-width: 0.5vw;
    border-top-style: solid;
}

.button {
    width: 70%;

    border-radius: 0%;
    border: none;
    text-transform: uppercase;
    background-color: #A27F14;

    font-size: 4vw;
    line-height: 8vw;
    letter-spacing: 2px;
}

@media screen and (min-width: 600px) {
    .wrapper {
        width: clamp(600px, 100%, 100%);
        aspect-ratio: 1000 / 574;
    }

    .backgroundImage {
        width: clamp(600px, 100%, 100%);
    }

    .contentWrapper {
        padding-bottom: 4%;
    }

    .logoImage {
        width: 20%;
        margin-left: 2%;
        margin-right: auto;
    }

    .contentImage {
        width: 45%;
        margin-top: -6%;
        margin-bottom: -4%;
    }

    .h2Style {
        font-size: 3.6vw;
    }

    .miniWrapper {}

    .divider {
        width: 30%;
        border-width: 0.25vw;
    }

    .button {
        width: 25%;

        font-size: 1.8vw;
        line-height: 4vw;
    }
}