@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Merriweather:wght@400;700&family=Montserrat:ital,wght@0,100;0,300;0,500;1,100&family=Roboto:wght@100;300;400;500;700&display=swap");

*p {
  font-family: arial black, arial-w01-black, arial-w02-black, arial-w10 black,
    sans-serif;
}

.LogoStyle {
  width: 20%;
  height: auto;
}

.iconStyle {
  width: 23px;
}

.socialIconStyle {
  margin: 0 0.5rem;
}

.header {
  color: #102a57;
  padding: 6px 0 0 0;
  position: relative;
  text-align: center;
  top: 2.2rem;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 37%,
    rgba(255, 255, 255, 0.443) 93%,
    rgba(255, 255, 255, 0) 119%
  );
  margin: -2rem 0;
}

.titleH1Mobile {
  line-height: 1.7rem;
  font-family: "EB Garamond";
  margin-top: -0.5rem;
  padding: 0 0 1rem 0;
}

.btnMobile,
.iconText {
  background-color: transparent;
  font-family: "Didact Gothic";
  color: black;
  border: none;
  font-size: small;
  padding: 0;
  margin: 0 0 0 0.1rem;
}

.iconText {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-size: 10.5px;
  margin-right: 0.4rem;
}

.socialMediaWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 10.5px;
}

.headerInfoWrapper {
  background-color: #102a57f0;
  /* padding: 1rem 0 1rem 0; */
}

.contactIconWrapper {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.btnMobile:hover {
  color: #ad1f37;
  background-color: transparent;
  font-weight: bold;
}

.imgSize,
.boardBack{
  width: 100%;
  height: auto;
}

.gallerySlideTitle {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 1rem;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  color: white;
}

.galleryCard p {
  line-height: 1rem;
  font-size: 0.9rem;
  font-family: "Didact Gothic";
  margin: 0 0.77rem 1rem 0.77rem;
  color: white;
}

.galleryCard {
  text-align: center;
  background-color: #102a57f0;
  padding: 1rem 0 2rem 0;
  margin: -5rem 1.2rem 0 1.2rem;
  height: 234px;
  position: relative;
  top: -12.1rem;
  backdrop-filter: blur(3px);
  border-radius: 0.3rem;
  z-index: 3;
}

.cardWrapper {
  height: auto;
}

@media screen and (min-width: 360px) {
  .galleryCard {
    margin: -7rem 1.2rem 0 1.2rem;
  }
}

@media screen and (min-width: 414px) {
  .galleryCard {
    margin: -10rem 1.2rem 48px 1.2rem;
  }

  .galleryCard p {
    margin: 16px 0.77rem 1rem 0.77rem;
  }
}

@media screen and (min-width: 568px) {
  .gallerySlideTitle {
    font-size: 2rem;
  }
  .titleH1Mobile {
    line-height: 1.7rem;
    font-family: "EB Garamond";
    margin: 0 auto;
    padding: 1rem 0 1rem 0;
    font-size: 3rem;
  }

  .galleryCard {
    margin: -34rem 1.2rem 48px 1.2rem;
  }

  .cardGradient {
    background: none;
  }

  .header {
    text-align: left;
    display: flex;
    margin: 2rem 0;
    top: -0.8rem;
  }

  .logoWrapper {
    width: 14%;
  }
  .LogoStyle {
    width: 100%;
  }

}

@media screen and (min-width: 600px) {
  .galleryCard {
    margin: -424px 2rem -140px 2rem;
  }
}

@media screen and (min-width: 667px) {
  .galleryCard {
    margin: -34rem 1.2rem 48px 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  /* for desktop version --------- */

  .headerInfoWrapper {
    margin: 0;
    background: transparent;
  }

  .iconText {
    color: white;
    font-size: 1rem;
  }

  .contactIconWrapper {
    align-items: center;
    background-color: #0b1f42;
  }

  .headerInfoWrapper {
    background-color: #0b1f42;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    font-size: 7.5rem;
    line-height: 7.5rem;
    margin-top: 26px;
  }

}
