@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Merriweather:wght@400;700&family=Montserrat:ital,wght@0,100;0,300;0,500;1,100&family=Roboto:wght@100;300;400;500;700&display=swap");

*p {
  font-family: arial black, arial-w01-black, arial-w02-black, arial-w10 black,
    sans-serif;
}

.titleContainer p {
  line-height: 1.1rem;
  margin: 0.5rem 0;
}

.listStyle{
  font-size: .81rem;
  margin: 0 0 1rem 0;
  text-align: left;
}

.btnGallery {
  color: white;
  font-family: arial;
  background-color: #a98519;
  border-radius: 0;
  border: none;
  width: 80%;
  transition: 0.5s;
  padding: 1rem 0;
  margin: .5rem 0;
}

.btnGallery:hover {
  background-color: #d1b918;
  border: none;
  color: white;
  transform: scale(80%);
  box-shadow: none;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.286);
}

.imgSharonBack {
  background-image: url("../../../../images/mobile-header/online-courses.jpg");
  background-size: cover;
  height: 641px;
  margin: 24px 0 0 0;
  text-align: center;
}

.FamilyTitle {
  font-size: 2.1rem;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 0 1rem 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 30.2px;
  /* color: white; */
}

.titleWrapper {
  font-family: "Montserrat";
  margin-top: -0.8rem;
  font-size: 1.7rem;
  line-height: 1.2rem;
}

.titleMargin {
  margin: 0.5rem 0 0 0;
}

.subTitle {
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 12px;
  font-weight: 500;
}

.galleryCardCourse {
  text-align: center;
  color: white;
  background-color: #102a57f0;
  margin: 8.5rem 1.2rem 0 1.2rem;
  padding: 1rem 1.6rem;
  background-color: #102a57f0;
  backdrop-filter: none;
  display: inline-table;
  backdrop-filter: none;
  border-radius: 0.3rem;
}

@media screen and (min-width: 360px) {
  .galleryCardCourse {
    font-size: 1.1rem;

  }
  .titleMargin {
    margin: 1.5rem 0 0 0;
    font-size: 2.3rem;
  }
  .titleWrapper {
    font-size: 2rem;
    line-height: 1rem;
  }

  .FamilyTitle {
    font-size: 2.6rem;
    line-height: 2.3rem;
  }

  .btnGallery {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 375px) {
  .titleContainer p {
    line-height: 1.31rem;
  }
  .listStyle {
    font-size: 1rem;
  }
  .subTitle{
    font-size: 20px;
  }
  .galleryCardCourse {
    margin: 8rem 1.2rem 0 1.2rem;
  }
}


@media screen and (min-width: 414px) {
  .subTitle {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .galleryCardCourse{
    margin: 9rem 1.2rem 0 1.2rem;
  }
}

@media screen and (min-width: 568px) {
  .galleryCardCourse {
    margin: 4.5rem 0 0 0;
    color: white;
    background: transparent;
    font-size: 0.9rem;
    background-color: #0b1f42b3;
    border-radius: 0.3rem;
    padding: 1rem;
    width: 515px;
  }

  .imgSharonBack{
    height: 409px;
  }

  .titleWrapper {
    margin: 0;
    color: white;
    text-shadow: none;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .FamilyTitle {
    font-size: 1.8rem;
    margin: 0;
    padding: 0 0 0.5rem 0;
  }

  .btnGallery {
    padding: 0.5rem 0;
  }

  .listStyle {
    display: flex;
    flex-direction: row;
  }

  .listOne {
    margin: 0 2rem 0 0;
  }
}

@media screen and (min-width: 576px) {
  .imgSharonBack {
    border-radius: 0.3rem;
  }
}

@media screen and (min-width: 600px) {
  .subTitle {
    font-size: 1.5rem;
  }
  .imgSharonBack {
    height: 455px;
  }
}

@media screen and (min-width: 667px) {
  .subTitle {
    padding: 0 2rem;
  }
}