@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');


*p {
  font-family: arial black, arial-w01-black, arial-w02-black, arial-w10 black,
    sans-serif;
}

.cardWrapper {
  border-radius: 0;
  position: relative;
  overflow: hidden;
  background: url("../../images/header.webp") no-repeat center;
  background-size: cover;
  height: 33rem;
  display: flex;
  align-items: self-end;
  justify-content: center;
  filter: contrast(1.2);
}

.innerCardWrapper {
  text-align: center;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.logoIcon {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin: 1rem 0;
  position: relative;
  z-index: 2;
  left: -37px;
  top: -31px;
  box-shadow: black 0px 0px 6px;
}

.subTextWrapper,
.subTextGold {
  /* background-color: #704c72; */
  padding: .5rem;
  border-radius: .5rem;
  position: relative;
  /* top: -5rem; */
  /* width: 79vw; */
  padding: 0.4rem;
  /* background-image: url("../../images/gliter.svg"); */
  background-repeat: no-repeat;
  background-size: 146%;
  background-position: -74px 84px;
  background-blend-mode: luminosity;
}

.subTextGold {
  display: block;
  width: 100%;
  /* height: 10.3rem; */
  /* background: linear-gradient(to right, #b8b8b8, #c8c8c8, #ffffff, #ffffff, #9c9c9c); */
  border-radius: 0;
  /* background-color: rgba(255, 255, 255, 0.632); */
}

.megaLife,
.megaLifeBottom {
  font-size: 1.5rem;
  line-height: 1rem;
  font-family: "Antonio";
  color: rgb(40, 38, 38);
  /* padding: 3rem; */
}

.megaLifeBottom{
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #e1872d;
}

.btnWrapper {
  position: relative;
  left: -28px;
  margin-top: 11px;
}

.btnBookNow,
.btnBookNowBottom {
  background-color: #252129;
  border: 1px solid #38143a;
  font-family: arial;
  text-transform: uppercase;
  rotate: 0deg;
  top: 0;
  width: 14rem;
  margin: .2rem 0 .5rem 0;
  color: white;
  transition: .5s;
}

.btnBookNowBottom {
  margin: .2rem 0 .5rem -1.5rem;
}

.btnBookNow:hover,
.btnBookNowBottom:hover {
  rotate: 0deg;
  background-color: #38143a;
  border: 1px dotted #dc59e3;
  color: #ffffff;
  transform: scale(110%);
  box-shadow: none;
}

@media screen and (min-width: 375px) {
  .subTextWrapper {
    background-position: -88px 63px;
  }
  .btnBookNowBottom {
    margin: .2rem 0 .5rem 0rem;
  }
}

@media screen and (min-width: 414px) {
  .subTextWrapper {
    background-position: -94px 64px;
  }
}

@media screen and (min-width: 450px) {
  .megaLife,
  .megaLifeBottom {
    font-size: 2rem;
  }
}

@media screen and (min-width:600px) {
  .subTextWrapper {
    top: 0;
    padding: 1rem 2rem;
    background-position: -132px 54px
  }

  .subText {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  .cardWrapper {
    height: 32rem;
  }

  .megaLife,
  .megaLifeBottom {
    line-height: 3rem;
  }

}

@media screen and (min-width:768px) {

  .cardWrapper {
    height: 41rem;
  }

  .subTextWrapper {
    background-position: -167px 0px;
  }

  .megaLife:after {
    content: "";
    display: block;
    height: .5rem;
  }

  .btnBookNow {
    top: 3px;
    margin: -0.8rem 0 .5rem 0;
  }

  .hideBr {
    display: none;
  }

  .live {
    font-size: 3.5rem;
  }
}

@media screen and (min-width:1024px) {

  .cardWrapper {
    height: 54rem;
    background: url("../../images/header.webp") repeat center 1rem;
    background-size: contain;
  }

  .megaLife,
  .megaLifeBottom {
    /* font-size: 3.5rem; */
    line-height: 3rem;
  }

  .subTextWrapper {
    background-position: -225px -14px;
  }

  .subTextGold {
    width: 100%;
  }

}

@media screen and (min-width: 1200px) {
  .cardWrapper {
    background: url("../../images/header.webp") repeat center bottom -9rem;
    background-size: cover;
    height: 60rem;
  }

  .subTextWrapper {
    background-position: -265px -64px;
  }
}

@media screen and (min-width: 1400px) {
  .cardWrapper {
    background: url("../../images/header.webp") repeat center bottom -9rem;
    background-size: cover;
    height: 70rem;
  }

  .subTextWrapper {
    background-position: -308px -104px;
  }
}