@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Merriweather:wght@400;700&family=Montserrat:ital,wght@0,100;0,300;0,500;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');


.imgSize {
    width:100%;
    padding: 2rem 0;
    margin-left: -.8rem;
}

.imgSizeEcc {
    width:100%;
    padding: 1rem 0;
}

.calenderButton {
    text-transform: uppercase;
    background-color: #f8f4eb;
    border: 1px solid #f2e2b3;
    font-family: "arial";
    text-transform: uppercase;
    rotate: 0deg;
    top: 0;
    width: 14rem;
    color: #050801;
    overflow: hidden;
    transition: 0.5s;
}

.calenderButton:hover {
    rotate: 0deg;
    border: 1px outset #e1b785;
    color: white;
    background-color: #38111cd6;
}

.storeBtn {
    background-color: #252129;
    border: 1px solid #38143a;
    font-family: arial;
    text-transform: uppercase;
    rotate: 0deg;
    top: 0;
    width: 16rem;
    margin: .2rem 0 .5rem 0;
    color: white;
    transition: .5s;
}

.storeBtn:hover {
    rotate: 0deg;
    border: 1px outset #e1b785;
    color: white;
    background-color: #38111cd6;
}

@media screen and (min-width: 1024px) {
    .imgSize {
        width:95%;
    }
}