@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Merriweather:wght@400;700&family=Montserrat:ital,wght@0,100;0,300;0,500;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');

.h1Style {
  font-family: "Eb Garamond";
  font-size: 2.4rem;
  color: #091a37;
  line-height: 2rem;
  text-align: center;
  padding: 2rem 0 0 0;
}

.pStyle,
.h5Style {
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: "Didact Gothic";
}

.pStyle2,
.pStyle2a {
  text-align: center;
  padding: .5rem;
  background-color: #ffffff91;
  margin: .2rem 0 0 0;
  border-bottom: 1px outset;
}

.h5Style {
  font-size: 1.2rem;
  font-weight: bold;
}

.comingSoonText {
  font-size: 1rem;
  font-family: "Didact Gothic";
  margin: 1rem 0 -2.2rem 0;
}

.flyer {
  width: 100%;
  height: auto;
}

.rowWrapper,
.rowWrapperTop {
  padding: 0 .5rem 1rem .5rem;
  background: url("../../images/mobile-coming-soon/mobile-c-s-background.jpg") no-repeat center -5rem;
  background-size: cover;
  margin: 0 .5rem -1rem .5rem;
  border: none;
  /* height: 1180px; */
}

.rowWrapperTop {
  border-top: 10px solid #5fad3e;
  height: 140px;
}

.colStyle,
.petColStyle,
.colTitleStyle,
.servColStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffffe5;
  margin: 0;
  padding: 1.5rem;
}

.colTitleStyle {
  margin: 1rem .75rem 0 .75rem;
  padding: 0;
}

.EmpIconStyle,
.EmprIconStyle,
.PetIconStyle {
  width: 70px;
  height: auto;
}

.servColStyle {
  font-weight: 400;
}

@media screen and (min-width:375px) {

  /* .rowWrapper {
    height: 1230px
  } */

  .h5Style {
    font-size: 1.43rem;
    line-height: 1.5rem;
  }

  .pStyle {
    font-size: 1.1rem;
  }

  .comingSoonText {
    font-size: 1.2rem;
    margin: 1rem 0 -1.9rem 0;
  }

}

@media screen and (min-width:414px) {

  .h5Style {
    padding: 0 1rem;
  }

  .pStyle {
    font-size: 1.1rem;
  }

  .comingSoonText {
    font-size: 1.2rem;
    margin: 1rem 0 -1.9rem 0;
  }

  .colStyle,
  .petColStyle,
  .servColStyle {
    padding: .5rem 2rem;
  }

  .EmpIconStyle,
  .EmprIconStyle,
  .PetIconStyle {
    width: 100px;
    height: auto;
  }

  /* .rowWrapper {
    height: 1172px
  } */

}

@media screen and (min-width:600px) {

  .h5Style {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .comingSoonText {
    font-size: 1.5rem;
  }

  .rowWrapper {
    height: 1081px;

  }
}

@media screen and (min-width:768px) {
  .comingSoonText {
    font-size: 1.7rem;
    margin: 0rem 0 -2rem 0;
    color: #091a37;
  }

  .pStyle {
    font-size: 1.3rem;
  }

  .h5Style {
    padding: 0;
  }

  .rowWrapper {
    padding: 0;
    background: url("../../images/desktop-coming-soon/desktop-c-s-background.jpg") no-repeat center -5rem;
    background-size: cover;
    margin: 0 .5rem;
    height: 867px;
  }

  .rowWrapperTop {
    margin-bottom: 0;
    background: url("../../images/desktop-coming-soon/desktop-c-s-background.jpg") no-repeat center -5rem;

  }

  .divWrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 8rem;
    flex-wrap: wrap;
    height: 375px;
  }

  .cardWrapper {
    margin-top: 7.5rem;
  }

  .colStyle {
    margin: 1rem 0 0 0;
  }

  .colTitleStyle {
    background-color: transparent;
  }

  .colStyle,
  .petColStyle,
  .colTitleStyle,
  .servColStyle {
    padding: 1rem;
  }

  .servParWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  .pStyle2,
  .pStyle2a {
    padding: 1rem;
  }
}

@media screen and (min-width:800px) {
  .comingSoonText {
    margin: 0rem 0 -2rem 0;
    font-size: 1.7rem;
  }

  .h5Style {
    padding: 0;
  }

  .pStyle {
    font-size: 1.3rem;
  }
}

@media screen and (min-width:812px) {
  .comingSoonText {
    margin: 0rem 0 -1.9rem 0;
    font-size: 1.7rem;
  }

  .h5Style {
    padding: 0;
  }

  .pStyle {
    font-size: 1.3rem;
  }
}

@media screen and (min-width:992px) {
.rowWrapper {
  height: 927px;
}

.flyer {
  max-width: 1000px;
}
}

@media screen and (min-width:1024px) {

  .h1Style {
    font-size: 3.3rem;
  }

  .pStyle {
    font-size: 1.2rem;
  }

  .colStyle {
    margin: 1rem 0 0 0;
  }
}

@media screen and (min-width:1200px) {

  .h1Style {
    margin-top: -5.2rem;
  }

  .rowWrapperTop {
    padding: 2rem 0 0 0;

  }

  .rowWrapper {
    height: 1000px;
  }
}

@media screen and (min-width:1366px) {

  .h1Style {
    margin-top: 0;
  }

  .colTitleStyle {
    margin-top: -2rem;
  }
}

@media screen and (min-width:1450px) {
  .comingSoonText {
    margin: -2rem 0 -1.9rem 0;
  }

  .h1Style {
    margin-top: 0;
  }

  .colTitleStyle {
    margin-top: -2rem;
  }
}

@media screen and (min-width:1920px) {
  .comingSoonText {
    margin: 0rem 0 -1.9rem 0;
  }

  .h5Style {
    font-size: 2rem;
  }

  .pStyle {
    font-size: 1.4rem;
  }
}