.navBar {
    background-color: #112a54 ;
}

.navBar2 {
    margin-top: 2.5rem;
}
.navBarBrand {
    color: #353535;
}

@media screen and (min-width: 768px) {
    .navBar {
        background-color: #202124;
    }
}
